﻿.error-heading {
    padding-top: 1em;
    font-size: 60px;
}

.error-body {
    font-size: 28px;
}

@media (max-width:767px) {
    .error-heading {
        font-size: 48px;
    }

    .error-body {
        font-size: 22px;
    }
}

@media (max-width:530px) {
    .error-heading {
        font-size: 32px;
    }

    .error-body {
        font-size: 16px;
    }
}
