﻿.alignEnd {
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

.field-validation-error {
    color: #dc3545;
    margin-top: 5px;
}

.input-group-text {
    color: #ced4da;
    background-color: #fff;
}

.invalid .input-group-text {
    border-color: rgb(220, 53, 69);
}

.logo {
    position: absolute;
    width: 80px;
}

.logo > img {
    width: 100%;
    height: auto;
}

main {
    height: 100vh;
}

.rightDiv {
    background-image: linear-gradient(45deg, #333, #5a5454);
}

.title {
    font-size: 28px;
}

.valid .input-group-text {
    border-color: #28a745;
}

@media (min-width: 768px) {
    .leftDiv {
        border-right: 2px solid #119b00;
    }

    .rightDiv {
        border-left: 2px solid #119b00;
    }
}

@media (max-width: 767px) {
    .logo {
        width: 60px;
    }

    .title {
        font-size: 24px;
    }
}

@media (max-height: 500px) {
    .logo {
        display: none;
    }
}
