﻿.bl-0 {
    border-left: none;
}

body {
    background-color: #fbfbfb;
    min-height: 100vh;
}

.btn-green {
    background-color: #119b00;
    color: #fbfbfb;
    border: 1px solid #0e8200;
}

    .btn-green:hover,
    .btn-green:focus,
    .btn-green:active {
        background-color: #0e8200;
        color: #fff;
    }

footer {
    background-color: #242424;
    border-top: solid 3px #119b00;
    color: #fbfbfb;
}

    footer .h5 {
        border-bottom: 1px solid #fbfbfb;
        padding-bottom: 5px;
    }

.footerLink,
nav .navbar-nav .nav-link {
    color: #fbfbfb;
}

    .footerLink:hover,
    .footerLink:focus,
    nav .navbar-nav .nav-link:hover,
    nav .navbar-nav .nav-link:focus {
        color: #c8c8c8;
        text-decoration: none;
    }

.footerLogo {
    width: 60%;
}

nav {
    background-color: #242424;
    border-bottom: solid 3px #119b00;
}

.navbar-toggler {
    border-color: #fbfbfb;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E")
}

.validation-summary-errors {
    margin-left: 5px;
    margin-right: 5px;
}

    .validation-summary-errors > ul {
        margin-bottom: 0;
        padding-left: 0;
        list-style: none;
    }

.validation-summary-valid {
    display: none;
}

@media (max-width: 767px) {
    .footerLink {
        font-size: 12px;
    }

    .nav-space-between .nav-item {
        flex-basis: 0;
        flex-grow: 1;
        text-align: center;
    }
}
