﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=9;IE=10;IE=11;IE=Edge,chrome=1">
    <meta name="theme-color" content="#242424" />
    <link rel="icon" href="~/images/saturn.png" />

    @if (IsSectionDefined("title"))
    {
        @RenderSection("title", true)
    }
    else
    {
        <title>Ergonomics Database</title>
    }

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/fontawesome/css/all.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position"
              asp-fallback-test-value="absolute"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
              crossorigin="anonymous" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
              asp-fallback-href="~/lib/fontawesome/css/all.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position"
              asp-fallback-test-value="absolute"
              integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
              crossorigin="anonymous">
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>

    @RenderSection("head", required: false)
</head>
<body class="d-flex flex-column">
    <nav class="navbar navbar-expand-md" id="nav">
        <div class="container">
            <div class="navbar-brand"><img src="~/images/logo-nav.png" alt="Saturn Ergonomics Logo" width="100" height="49" /></div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse navbar-nav-scroll" id="navbarText">
                <ul class="d-flex navbar-nav flex-row nav-space-between ml-md-4 w-100">
                    @if (IsSectionDefined("navItems"))
                    {
                        @RenderSection("navItems", false)
                    }
                    else
                    {
                        <li class="nav-item">
                            <a asp-area="" asp-controller="Home" asp-action="Index" class="nav-link">Home</a>
                        </li>
                        <li class="nav-item">
                             <a class="nav-link" href="Identity/Account/Manage/Index">Account</a>
                        </li>
                        <li class="nav-item">
                            <a asp-area="" asp-controller="Admin" asp-action="Index" class="nav-link">Admin</a>
                        </li>
                    }
                    <partial name="_LoginPartial" />
                </ul>
            </div>
        </div>
    </nav>
    <main class="container mt-3" role="main" id="content">
        @RenderBody()
    </main>
    <footer id="footer" class="mt-auto">
        <div class="container">
            <div class="row pt-4 pb-4">
                <div class="col-lg-4 d-none d-lg-flex justify-content-center align-items-center">
                    <img src="~/images/logo-footer.png" alt="Saturn Ergonomics Logo" class="footerLogo" />
                </div>
                <div class="col-6 col-lg-4">
                    <div class="h5">Contact</div>
                    <a class="footerLink" href="mailto:murray@saturnergonomics.com">
                        <i class="fas fa-envelope fa-fw" aria-hidden="true"></i> murray@saturnergonomics.com
                    </a><br />
                    <a class="footerLink" href="tel:3345023562">
                        <i class="fas fa-phone fa-fw" aria-hidden="true"></i> +1 (334) 502-3562
                    </a><br />
                    <a class="footerLink" href="https://goo.gl/maps/iBn2Zv5FjPr" target="_blank" rel="noopener">
                        <i class="fas fa-map-marker-alt fa-fw" aria-hidden="true"></i> 331 N. College Street, Auburn, AL
                    </a><br />
                </div>
                <div class="col-6 col-lg-4">
                    <div class="h5">Connect</div>
                    <a class="footerLink" href="https://www.facebook.com/SaturnErgonomics/" target="_blank" rel="noopener">
                        <i class="fab fa-facebook fa-fw" aria-hidden="true"></i> Facebook
                    </a><br />
                    <a class="footerLink" href="https://www.instagram.com/saturnergonomics/" target="_blank" rel="noopener">
                        <i class="fab fa-instagram fa-fw" aria-hidden="true"></i> Instagram
                    </a><br />
                    <a class="footerLink" href="https://www.linkedin.com/in/murray-gibson-pe-cpe-30786318/" target="_blank" rel="noopener">
                        <i class="fab fa-linkedin fa-fw" aria-hidden="true"></i> LinkedIn
                    </a><br />
                    <a class="footerLink" href="https://www.youtube.com/channel/UCXQmE7exdvQkHCx0iXbmJVQ/videos" target="_blank" rel="noopener">
                        <i class="fab fa-youtube fa-fw" aria-hidden="true"></i> YouTube
                    </a><br />
                </div>
            </div>
        </div>
    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"></script>
    </environment>

    @RenderSection("scripts", required: false)
</body>
</html>
