@using Microsoft.AspNetCore.Identity
@using SaturnErgonomics.Areas.Identity.Data;
@inject SignInManager<SaturnErgonomicsUser> SignInManager
@inject UserManager<SaturnErgonomicsUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    @*<li class="nav-item">
            <a class="nav-link " asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>
        </li>*@
    <li class="nav-item ml-auto">
        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button type="submit" class="nav-link btn btn-link ">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item ml-auto">
        <a class="nav-link " asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}