﻿@model SaturnErgonomics.Models.ViewModels.EntryModel

@section title {
    <title>Add Entry</title>
}

@section navItems {
    <li class="nav-item">
        <a asp-area="" asp-controller="Home" asp-action="Index" class="nav-link">Home</a>
    </li>
    <li class="nav-item">
        <a asp-area="" asp-controller="Home" asp-action="Create" class="nav-link">Account</a>
    </li>
    <li>
        <a asp-area="" asp-controller="Admin" asp-action="Index" class="nav-link">Admin</a>
    </li>
}

<h2 class="text-center">New Entry</h2>
<hr />
<form asp-controller="Home" id="entry-form" asp-action="NewEntry" method="post" class="needs-validation mb-4" novalidate>
    <div class="form-row">
        <div class="col-12 col-md-4 mb-3">
            <label asp-for="torqueType">Torque Type</label>
            <input class="form-control" asp-for="torqueType" autocomplete="off" maxlength="1024" required>
            <div class="invalid-feedback">
                Torque type is required.
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col-12 col-md-6 mb-3">
            <label asp-for="posture">Posture</label>
            <textarea class="form-control" rows="3" asp-for="posture" autocomplete="off" maxlength="1024" required></textarea>
            <div class="invalid-feedback">
                Posture is required.
            </div>
        </div>
        <div class="col-12 col-md-6 mb-3">
            <label asp-for="notes">Notes</label>
            <textarea class="form-control" rows="3" asp-for="notes" autocomplete="off" maxlength="1024"></textarea>
            <div class="invalid-feedback">
                Notes is required.
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col-12 col-md-6 mb-3">
            <label asp-for="objectHandle">Object/Handle</label>
            <textarea class="form-control" rows="3" asp-for="objectHandle" autocomplete="off" maxlength="1024" required></textarea>
            <div class="invalid-feedback">
                Object/Handle is required.
            </div>
        </div>
        <div class="col-12 col-md-6 mb-3">
            <label asp-for="dataCollection">Data Collection</label>
            <textarea class="form-control" rows="3" asp-for="dataCollection" maxlength="1024" required></textarea>
            <div class="invalid-feedback">
                Data collection is required.
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col-12 col-md-3 mb-3">
            <label asp-for="maleMean">Male Mean</label>
            <input class="form-control" asp-for="maleMean" type="number" step="any" min="0" required>
            <div class="invalid-feedback">
                Male mean is required.
            </div>
        </div>
        <div class="col-12 col-md-3 mb-3">
            <label asp-for="maleSD">Male SD</label>
            <input class="form-control" asp-for="maleSD" type="number" step="any" min="0" required>
            <div class="invalid-feedback">
                Male SD is required.
            </div>
        </div>
        <div class="col-12 col-md-3 mb-3">
            <label asp-for="femaleMean">Female Mean</label>
            <input class="form-control" asp-for="femaleMean" type="number" step="any" min="0" required>
            <div class="invalid-feedback">
                Female mean is required.
            </div>
        </div>
        <div class="col-12 col-md-3 mb-3">
            <label asp-for="femaleSD">Female SD</label>
            <input class="form-control" asp-for="femaleSD" type="number" step="any" min="0" required>
            <div class="invalid-feedback">
                Female SD is required.
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col-12 col-md-3 mb-3">
            <label asp-for="maleNumber">Male Number</label>
            <input class="form-control" asp-for="maleNumber" type="number" min="0" required>
            <div class="invalid-feedback">
                Male participant number is required.
            </div>
        </div>
        <div class="col-12 col-md-3 mb-3">
            <label asp-for="femaleNumber">Female Number</label>
            <input class="form-control" asp-for="femaleNumber" type="number" min="0" required>
            <div class="invalid-feedback">
                Female participant number is required.
            </div>
        </div>
        <div class="col-12 col-md-3 mb-3">
            <label asp-for="ageMin">Age Range Start</label>
            <input class="form-control" asp-for="ageMin" type="number" min="0" required>
            <div class="invalid-feedback">
                Female mean is required.
            </div>
        </div>
        <div class="col-12 col-md-3 mb-3">
            <label asp-for="ageMax">Age Range End</label>
            <input class="form-control" asp-for="ageMax" type="number" min="0" required>
            <div class="invalid-feedback">
                Female SD is required.
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col-12 col-md-5 mb-3">
            <label asp-for="subjectDescription">Subject Description</label>
            <textarea class="form-control" rows="3" asp-for="subjectDescription" min="1900" max="2019" required></textarea>
            <div class="invalid-feedback">
                Subject description is required.
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col-12 col-md-5 mb-3">
            <label asp-for="rotationAxis">Rotation Axis</label>
            <select class="form-control" asp-for="rotationAxis" min="1900" max="2019">
                <option>Horizontal</option>
                <option>Vertical</option>
                <option>Not Applicable</option>
            </select>
        </div>
    </div>
    <div class="form-row">
        <div class="col-12 col-md-5 mb-3">
            <label asp-for="hand">Hand</label>
            <select class="form-control" asp-for="hand" min="1900" max="2019">
                <option>Right</option>
                <option>Left</option>
                <option>Neither</option>
            </select>
        </div>
        <div class="col-12 col-md-5 mb-3">
            <label asp-for="isDominant">Is Dominant?</label>
            <input class="form-control" asp-for="isDominant" type="checkbox" autocomplete="off" maxlength="1024" required>
        </div>
    </div>
    <div class="form-row">
        <div class="col-12 col-md-5 mb-3">
            <label asp-for="year">Study Year</label>
            <input class="form-control" asp-for="year" type="number" min="1900" max="2019">
            <div class="invalid-feedback">
                Study year is required.
            </div>
        </div>
        <div class="col-12 col-md-5 mb-3">
            <label asp-for="source">Source</label>
            <input class="form-control" asp-for="source" autocomplete="off" maxlength="1024" required>
            <div class="invalid-feedback">
                Source is required.
            </div>
        </div>
    </div>
    <button class="btn btn-success" type="submit">Submit</button>
</form>

@*@section Scripts {
    <environment include="Development">
        <script src="~/js/admin.js" asp-append-version="true"></script>
    </environment>
}*@