﻿
@model SaturnErgonomics.Models.ViewModels.HomeViewModel

@section navItems {
    <li class="nav-item">
        <a asp-area="" asp-controller="Home" asp-action="Index" class="nav-link"><b>Home</b></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="Identity/Account/Manage/Index">Account</a>
    </li>
    <li>
        <a asp-area="" asp-controller="Admin" asp-action="Index" class="nav-link">Admin</a>
    </li>
}

@section head {
    <style>
        .btn-success {
            margin-top: 31px;
        }
    </style>
}

<div class="tab-content" id="myTabContent">
        <div class="row mt-3">
            <div class="col-12 col-md-2">
                <div class="form-group mb-3">
                    <label for="HandleID">Handle Type</label>
                    <select class="custom-select" asp-for="HandleID" asp-items="@Model.Handles">
                        <option>All</option>
                    </select>
                </div>
            </div>

            <div class="col-12 col-md-2">
                <div class="form-group mb-3">
                    <label for="genderSelect">Gender</label>
                    <select class="custom-select" id="genderSelect">
                        <option>All</option>
                        <option>Female</option>
                        <option>Male</option>
                    </select>
                </div>
            </div>

            <div class="col-12 col-md-2">
                <div class="form-group mb-3">
                    <label for="yearSelect">Study Year</label>
                    <select class="custom-select" id="yearSelect">
                        <option>All</option>
                        <option>Past 10 years</option>
                        <option>Past 25 years</option>
                    </select>
                </div>
            </div>

            <div class="col-12 col-md-2">
                <div class="form-group mb-3">
                    <label for="numberSelect">Number of Subjects</label>
                    <select class="custom-select" id="numberSelect">
                        <option>All</option>
                        <option>More than 25</option>
                        <option>More than 100</option>
                    </select>
                </div>
            </div>
            
            <div class="col-12 col-md-2">
                <button class="btn btn-success">Filter</button>
            </div>
        </div>
        <hr />
        <table class="table table-bordered table-hover shadow-sm rounded" id="myTable">
            <thead class="thead-light">
                <tr>
                    <th>Object</th>
                    <th>Axis</th>
                    <th>Posture</th>
                    <th>Hand</th>
                    <th>Female Subjects</th>
                    <th>Male Subjects</th>
                    <th>Youngest Age</th>
                    <th>Oldest Age</th>
                    <th>Female Mean</th>
                    <th>Female SD</th>
                    <th>Male Mean</th>
                    <th>Male SD</th>
                    <th>Source</th>
                </tr>
            </thead>
            <tbody class="tbody-white">

            </tbody>
        </table>
</div>
