﻿@page
@model ChangePasswordModel

@{
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

@section scripts {
    <script>
// Example starter JavaScript for disabling form submissions if there are invalid fields
(function() {
  'use strict';
  window.addEventListener('load', function() {
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();
    </script>
}

<style>
    .green-link {
        color: #119b00;
    }

        .green-link:hover,
        .green-link:active,
        .green-link:focus {
            color: #0b6800;
        }

    .nav-pills .nav-link.active,
    .nav-pills .show > .nav-link {
        background-color: #119b00;
    }

    @@media (max-width: 768px) {
        .nav-pills {
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            margin-bottom: 15px;
            padding-bottom: 1em;
        }
    }
</style>

<form method="post" class="needs-validation mb-4" novalidate>
    <div asp-validation-summary="All" class="alert alert-danger alert-dismissible w-100">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="form-row">
        <div class="col-12 col-md-6 mb-3">
            <label asp-for="Input.OldPassword"></label>
            <input asp-for="Input.OldPassword" class="form-control" type="password" required />
            <div class="invalid-feedback">
                Invalid password.
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col-12 col-md-6 mb-3">
            <label asp-for="Input.NewPassword"></label>
            <input asp-for="Input.NewPassword" class="form-control" type="password" required />
            <div class="invalid-feedback">
                Please enter a valid password.
                Passwords must be at least 8 characters long and contain at least one letter
                and one number.
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col-12 col-md-6 mb-3">
            <label asp-for="Input.ConfirmPassword"></label>
            <input asp-for="Input.ConfirmPassword" class="form-control" type="password" required />
            <div class="invalid-feedback">
                Please enter a valid password.
                Passwords must be at least 8 characters long and contain at least one letter
                and one number.
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-green">Update password</button>
</form>