﻿@page
@model IndexModel

@{
    ViewData["ActivePage"] = ManageNavPages.Index;
}

@section scripts {
    <script>
// Example starter JavaScript for disabling form submissions if there are invalid fields
(function() {
  'use strict';
  window.addEventListener('load', function() {
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();
    </script>
}

<style>
    .green-link {
        color: #119b00;
    }

        .green-link:hover,
        .green-link:active,
        .green-link:focus {
            color: #0b6800;
        }

    .nav-pills .nav-link.active,
    .nav-pills .show > .nav-link {
        background-color: #119b00;
    }

    @@media (max-width: 768px) {
        .nav-pills {
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            margin-bottom: 15px;
            padding-bottom: 0.5em;
        }
    }
</style>

<form method="post" class="needs-validation mb-4" novalidate>
    <div asp-validation-summary="All" class="alert alert-danger alert-dismissible w-100">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="form-row">
        <div class="col-12 col-md-6 mb-3">
            <label asp-for="Input.FirstName"></label>
            <input asp-for="Input.FirstName" class="form-control" type="text" maxlength="128" required />
            <div class="invalid-feedback">
                Your first name is required.
            </div>
        </div>
        <div class="col-12 col-md-6 mb-3">
            <label asp-for="Input.LastName"></label>
            <input asp-for="Input.LastName" class="form-control" type="text" maxlength="128" required />
            <div class="invalid-feedback">
                Your last name is required.
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col-12 col-md-6 mb-3">
            <label asp-for="Username"></label>
            <input asp-for="Username" class="form-control" type="email" disabled />
        </div>
        @if (Model.IsEmailConfirmed)
        {
            <div class="col-12 col-md-6 mb-3">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" type="email" class="form-control" required />
                <div class="invalid-feedback">
                    Please enter a valid email address.
                </div>
            </div>
        }
        else
        {
            <div class="col-12 col-md-6">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" type="email" class="form-control" required />
                <button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail" class="btn btn-link green-link pl-0">Send verification email</button>
                <div class="invalid-feedback">
                    Please enter a valid email address.
                </div>
            </div>
        }
    </div>
    <button id="update-profile-button" type="submit" class="btn btn-green">Save</button>
</form>
