﻿@model IEnumerable<SaturnErgonomics.Models.ViewModels.UserRolesViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RoleName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RoleName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.RoleID }) |
                @Html.ActionLink("Details", "Details", new { id=item.RoleID }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.RoleID })
            </td>
        </tr>
}
    </tbody>
</table>
