﻿@page
@model ForgotPasswordModel

@section head {
    <style>
        .input-group-text {
            color: #ced4da;
            background-color: #fff;
        }

        #logoutLink {
            display: none;
        }
    </style>
}

<div class="row text-center justify-content-center mt-5">
    <div class="col-12 col-md-6">
        <h2>Forgot your password?</h2>
        <hr />
        <p class="lead">Enter your email below to recover it.</p>
        <form method="post">
            <label asp-for="Input.Email" class="sr-only"></label>
            <div class="input-group mb-3">
                <div class="input-group-prepend" id="Input_EmailIcon">
                    <span class="input-group-text"><i class="fas fa-envelope fa-fw"></i></span>
                </div>
                <input asp-for="Input.Email" type="email" class="form-control pl-1 bl-0" placeholder="Email">
                <div class="input-group-append">
                    <button class="btn btn-success rounded-right" type="submit">Submit</button>
                </div>
            </div>
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </form>
    </div>
</div>
