﻿@page
@model LoginModel

@{
    Layout = "_EmptyLayout";
}

@section head {
    <environment include="Development">
        <link rel="stylesheet" href="~/css/login.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/login.min.css" />
    </environment>
}

@section scripts {
    <environment include="Development">
        <script src="~/js/login.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/login.min.js" asp-append-version="true"></script>
    </environment>
}

<main class="container-fluid" role="main">
    <div class="row h-100">
        <div class="col-12 col-md-6 col-lg-5 leftDiv">
            <a href="@Url.Action("Index", "Home")" class="logo mt-4 ml-3">
                <img src="~/images/saturn-nav.png" alt="Saturn Ergonomics Logo" />
            </a>
            <div class="d-flex justify-content-center align-items-center h-100 w-100">
                <div class="col-12 col-sm-10 col-md-12 col-lg-10">
                    <h1 class="text-center title">Ergonomics Database</h1>
                    <hr />
                    <form class="needs-validation" id="account" method="post" novalidate>
                        <p class="text-muted text-center">Welcome! Please log in to your account.</p>
                        <div class="form-row">
                            <div asp-validation-summary="All" class="alert alert-danger alert-dismissible w-100">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="col-12 mb-3">
                                <label asp-for="Input.Email" class="sr-only">Email</label>
                                <div class="input-group">
                                    <div class="input-group-prepend" id="Input_EmailIcon">
                                        <span class="input-group-text"><i class="fas fa-envelope fa-fw"></i></span>
                                    </div>
                                    <input asp-for="Input.Email" type="email" class="form-control pl-1 bl-0 rounded-right" maxlength="128" placeholder="Email" required>
                                    <div class="invalid-feedback">
                                        Please enter a valid email address.
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 mb-3">
                                <label asp-for="Input.Password" class="sr-only">Password</label>
                                <div class="input-group">
                                    <div class="input-group-prepend" id="Input_PasswordIcon">
                                        <span class="input-group-text"><i class="fas fa-key fa-fw"></i></span>
                                    </div>
                                    <input asp-for="Input.Password" type="password" class="form-control pl-1 bl-0 rounded-right" placeholder="Password" required>
                                    <div class="invalid-feedback">
                                        Invalid password.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-6">
                                <div class="custom-control custom-checkbox">
                                    <input asp-for="Input.RememberMe" class="custom-control-input" type="checkbox">
                                    <label class="custom-control-label text-muted" asp-for="Input.RememberMe">
                                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                                    </label>
                                </div>
                            </div>
                            <div class="col-6 alignEnd">
                                <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                            </div>
                        </div>
                        <button class="btn btn-green btn-block mt-3" type="submit">Log in</button>
                        <p class="mt-3 text-center text-muted">
                            Don't have an account?
                            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register here</a>
                        </p>
                    </form>
                </div>
            </div>
        </div>
        <div class="d-none d-md-block col-md-6 col-lg-7 rightDiv">

        </div>
    </div>
</main>