﻿@page
@model RegisterModel

@{
    Layout = "_EmptyLayout";
}

@section head {
    <environment include="Development">
        <link rel="stylesheet" href="~/css/login.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/login.min.css" />
    </environment>
}

@section scripts {
    <environment include="Development">
        <script src="~/js/login.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/login.min.js" asp-append-version="true"></script>
    </environment>
}

<main class="container-fluid" role="main">
    <div class="row h-100">
        <div class="col-12 col-md-6 col-lg-5 leftDiv">
            <a href="@Url.Action("Index", "Home")" class="logo mt-4 ml-3">
                <img src="~/images/saturn-nav.png" alt="Saturn Ergonomics Logo" />
            </a>
            <div class="d-flex justify-content-center align-items-center h-100 w-100">
                <div class="col-12 col-sm-10 col-md-12 col-lg-10">
                    <h1 class="text-center title">Ergonomics Database</h1>
                    <hr />
                    <form asp-route-returnUrl="@Model.ReturnUrl" method="post" class="needs-validation" novalidate>
                        <p class="text-muted text-center">Hello! Please request an account to get started.</p>
                        <div class="form-row">
                            <div asp-validation-summary="All" class="alert alert-danger alert-dismissible w-100">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="col-12 mb-3">
                                <label asp-for="Input.FirstName" class="sr-only">First Name</label>
                                <div class="input-group">
                                    <div class="input-group-prepend" id="Input_FirstNameIcon">
                                        <span class="input-group-text"><i class="fas fa-user fa-fw"></i></span>
                                    </div>
                                    <input asp-for="Input.FirstName" type="text" class="form-control pl-1 bl-0 rounded-right" maxlength="128" placeholder="First Name" required>
                                    <div class="invalid-feedback">
                                        Your first name is required.
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 mb-3">
                                <label asp-for="Input.LastName" class="sr-only">Last Name</label>
                                <div class="input-group">
                                    <div class="input-group-prepend" id="Input_LastNameIcon">
                                        <span class="input-group-text"><i class="fas fa-user fa-fw"></i></span>
                                    </div>
                                    <input asp-for="Input.LastName" type="text" class="form-control pl-1 bl-0 rounded-right" maxlength="128" placeholder="Last Name" required>
                                    <div class="invalid-feedback">
                                        Your first name is required.
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 mb-3">
                                <label asp-for="Input.Email" class="sr-only">Email</label>
                                <div class="input-group">
                                    <div class="input-group-prepend" id="Input_EmailIcon">
                                        <span class="input-group-text"><i class="fas fa-envelope fa-fw"></i></span>
                                    </div>
                                    <input asp-for="Input.Email" type="email" class="form-control pl-1 bl-0 rounded-right" maxlength="128" placeholder="Email" required>
                                    <div class="invalid-feedback">
                                        Please enter a valid email address.
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 mb-3">
                                <label asp-for="Input.Password" class="sr-only">Password</label>
                                <div class="input-group">
                                    <div class="input-group-prepend" id="Input_PasswordIcon">
                                        <span class="input-group-text"><i class="fas fa-key fa-fw"></i></span>
                                    </div>
                                    <input asp-for="Input.Password" type="password" class="form-control pl-1 bl-0 rounded-right" placeholder="Password" required>
                                    <div class="invalid-feedback">
                                        Please enter a valid password.
                                        Passwords must be at least 8 characters long and contain at least one letter
                                        and one number.
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 mb-3">
                                <label asp-for="Input.ConfirmPassword" class="sr-only">Confirm Password</label>
                                <div class="input-group">
                                    <div class="input-group-prepend" id="Input_ConfirmPasswordIcon">
                                        <span class="input-group-text"><i class="fas fa-key fa-fw"></i></span>
                                    </div>
                                    <input asp-for="Input.ConfirmPassword" type="password" class="form-control pl-1 bl-0 rounded-right" placeholder="Confirm Password" required>
                                    <div class="invalid-feedback">
                                        Please enter a valid password.
                                        Passwords must be at least 8 characters long and contain at least one letter
                                        and one number.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-green btn-block mt-3" type="submit">Register</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="d-none d-md-block col-md-6 col-lg-7 rightDiv">

        </div>
    </div>
</main>
